@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}

.floating-letter {
  display: inline-block;
  font-size: 4rem;
  color: white;
  animation: float 5s ease-in-out infinite;
}

.candle-container {
  position: relative;
  width: 50px;
  height: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.candle {
  width: 20px;
  height: 40px;
  background: #ff8c00;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
}

.flame {
  width: 24px;
  height: 120px;
  left: 50%;
  transform-origin: 50% 100%;
  transform: translateX(-50%);
  bottom: 100%;
  border-radius: 50% 50% 20% 20%;
  background: rgba(255, 255, 255, 1);
  background: linear-gradient(white 80%, transparent);
  animation: moveFlame 6s linear infinite, enlargeFlame 5s linear infinite;
}

.flame:before {
  width: 100%;
  height: 100%;
  border-radius: 50% 50% 20% 20%;
  box-shadow: 0 0 15px 0 rgba(247, 93, 0, .4), 0 -6px 4px 0 rgba(247, 128, 0, .7);
}

@keyframes moveFlame {
  0%, 100% {
    transform: translateX(-50%) rotate(-2deg);
  }
  50% {
    transform: translateX(-50%) rotate(2deg);
  }
}

@keyframes enlargeFlame {
  0%, 100% {
    height: 120px;
  }
  50% {
    height: 140px;
  }
}

.glow {
  width: 26px;
  height: 60px;
  border-radius: 50% 50% 35% 35%;
  left: 50%;
  top: -48px;
  transform: translateX(-50%);
  background: rgba(0, 133, 255, .7);
  box-shadow: 0 -40px 30px 0 #dc8a0c, 0 40px 50px 0 #dc8a0c, inset 3px 0 2px 0 rgba(0, 133, 255, .6), inset -3px 0 2px 0 rgba(0, 133, 255, .6);
}

.glow:before {
  width: 70%;
  height: 60%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.35);
}

.blinking-glow {
  width: 100px;
  height: 180px;
  left: 50%;
  top: -55%;
  transform: translateX(-50%);
  border-radius: 50%;
  background: #ff6000;
  filter: blur(60px);
  animation: blinkIt .1s infinite;
}

@keyframes blinkIt {
  50% { opacity: .8;}
}

.balloon {
  position: absolute;
  bottom: 0;
  background-color: #ff69b4;
  width: 50px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation: rise 4s ease-out forwards, bounce 1s ease-in-out infinite;
  transform-origin: center bottom;
}

@keyframes rise {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-300px);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-300px);
  }
  50% {
    transform: translateY(-280px);
  }
}

.balloon:nth-child(odd) {
  background-color: #ff6347;
}

.balloon:nth-child(even) {
  background-color: #3cb371;
}
@keyframes balloon {
  0% {
    transform: translateY(100vh) scale(0.8);
    opacity: 1;
  }
  100% {
    transform: translateY(-10vh) scale(1.2);
    opacity: 0.8;
  }
}

.animate-balloon {
  animation: balloon linear forwards;
}